



<div class="div-bg">
  <h1>MOVIES CURATED FOR YOU</h1>

  <div id="movies">

    {{#each movies}}
    {{#if poster_path}}
    <div class="each-movie">
      <h2>{{title}}</h2>
      <a href="/movie/{{id}}"><img src=http://image.tmdb.org/t/p/w300/{{poster_path}} alt="img_peli"></a>
    </div>
    {{/if}}
    {{/each}}
  </div>
</div>