
<header>
  <h1>Perfil de {{user.username}}</h1>
</header>
<section>
  
  {{#each favlist}}

  <input type="hidden" name="id" value="{{id}}">
  <p>{{title}}</p>
  <img src=http://image.tmdb.org/t/p/w300/{{img}} alt="poster">
  
  {{/each}}

</section>