
<div class="div-bg">
  <section class="films-categories">
    <div id="vert">
      <div>
        <h3>ACTION</h3>
        <a href="/categories/action"><img src="../images/action dos.jpg" alt="action"></a>
      </div>

      <div>
        <h3>TERROR</h3>
        <a href="/categories/terror"><img src="../images/terror.png" alt="terror"></a>
      </div>

    </div>

    <div id="hor">
      <div>
        <h3>DRAMA</h3>
        <a href="/categories/drama"><img src="../images/drama.png" alt="drama"></a>
      </div>

      <div>
        <h3>ROMANCE</h3>
        <a href="/categories/romance"><img src="../images/romance.jpg" alt="romance"></a>
      </div>

      <div>
        <h3>SCI-FI</h3>
        <a href="/categories/science_fiction"><img src="../images/fiction.jpg" alt="sci-fi"></a>
      </div>

      <div>
        <h3>COMEDY</h3>
        <a href="/categories/comedy"><img src="../images/comedy.jpg" alt="Chiquito de la calzada"></a>
      </div>
    </div>

  </section>
</div>