<h1>Últimos trailers de drama</h1>


<div id="movies">

  {{#each moviesComedy}}
  {{#if poster_path}}
  <div>
    <h2>{{title}}</h2>
    <a href="/movie/{{id}}"><img src=http://image.tmdb.org/t/p/w300/{{poster_path}} alt="img_peli"></a>
  </div>
  {{/if}}
  {{/each}}
</div>