<h1>Bienvenido TRAILFLIX</h1>

<h2>Tu aplicación favorita para disfrutar de trailers</h2>

<p>Todos los trailers a tu disposición. Busca, comparte, añade a tu fav list y mucho más.</p>

<a href="">Logo</a>

<a href="">Sign up</a>

<a href="">Regístrate</a>


