<div class="index-view">
  <h1>Welcome to TRAILFLIX</h1>

  <h2>Your favorite application to enjoy trailers</h2>

  <p>All the trailers at your disposal. Search, add to your fav list and much more.</p>

</div>