<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link href="https://fonts.googleapis.com/css?family=Lacquer|Roboto&display=swap" rel="stylesheet">

</head>

<body>

  <nav id="nav-bar">
    <a href="/"><img src="../images/trail-flix-logo.png" alt="trail-flix-logo" id="lay-logo"></a>
    <a href="/auth/login" class="nav-btns"> <p>LOGIN</p> </a>
    <a href="/auth/signup" class="nav-btns"><p>SIGNUP</p></a>
    <a href="/auth/profile" class="nav-btns"><p>PROFILE</p></a>
    <a href="/search" class="nav-btns"><p>SEARCH</p></a>
    <a href="/auth/movies" class="nav-btns"><p>MOVIES</p></a>
    <a href="/categories" class="nav-btns"><p>CATEGORIES</p></a>
    <a href="/auth/logout" class="nav-btns logout">LOGOUT</a>
   


  </nav>




  {{{body}}}

  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <script src="https://kit.fontawesome.com/5616772ff0.js" crossorigin="anonymous"></script>
  <script src="/javascripts/script.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>

</html>