<h1>ÚLTIMOS ESTRENOS</h1>



<div id="estrenos">

  {{#each movies}}

  <h2>{{title}}</h2>

  <a href="#"><img src=http://image.tmdb.org/t/p/w300/{{poster_path}} alt="img_peli"></a>
 

  {{/each}}

</div>


