* {
  font-family: 'Lacquer', sans-serif;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-weight: bolder; }

body {
  padding-top: 150px;
  padding-left: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;
  background-image: url(../images/cine.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.form-container {
  width: 450px;
  padding: 55px;
  margin: 10px 450px;
  background: rgba(255, 255, 255, 0.404);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .form-container input {
    padding: 5px 60px;
    border-radius: 10px;
    border: none;
    color: black;
    outline: none; }
    .form-container input :focus {
      border: 1px solid;
      border-color: #DF181B; }

.btn-class {
  background-color: #DF181B;
  border: none;
  padding: 10px 30px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: 0.4s; }
  .btn-class:hover {
    background-color: #e44f51;
    font-size: larger; }

#button {
  background-color: #DF181B;
  border: none;
  padding: 10px 30px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: 0.4s; }
  #button:hover {
    background-color: #e44f51;
    font-size: larger; }

.btn-delete {
  background-color: #DF181B;
  border: none;
  padding: 10px 30px;
  border-radius: 5px;
  transition: 0.4s;
  cursor: pointer;
  outline: none; }
  .btn-delete:hover {
    background-color: #e44f51;
    font-size: larger; }

.index-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 215px;
  line-height: 15px; }

#nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  width: 100vw;
  height: 6.5rem;
  top: 0;
  left: 0;
  background-color: rgba(29, 9, 9, 0.096);
  box-shadow: 4px 0px 46px -9px rgba(255, 255, 255, 0.527);
  font-size: 20px; }
  #nav-bar #lay-logo {
    padding: 8px 30px; }
  #nav-bar a {
    color: white;
    font-weight: bolder; }
  #nav-bar img {
    margin-left: -60px;
    width: 280px;
    height: 80px;
    border-radius: 10px;
    transition: 0.3s; }
    #nav-bar img:hover {
      cursor: pointer; }
  #nav-bar .nav-btns {
    text-decoration: none;
    transition: 0.4s;
    padding: 5px 15px;
    background-color: none; }
    #nav-bar .nav-btns p {
      transition: 0.4s; }
      #nav-bar .nav-btns p:hover {
        font-size: 25px;
        transition: 0.4s;
        color: #fff;
        text-shadow: 0 0 10px #db393c, 0 0 15px #DF181B, 0 0 25px #DF181B, 0 0 45px rgba(223, 24, 27, 0.877), 0 0 85px rgba(223, 24, 27, 0.733), 0 0 95px rgba(223, 24, 27, 0.568), 0 0 105px rgba(223, 24, 27, 0.356), 0 0 155px rgba(223, 24, 27, 0.178); }
    #nav-bar .nav-btns.logout {
      color: rgba(165, 162, 162, 0.849); }

#movies {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly; }
  #movies h2 {
    text-transform: uppercase;
    color: white;
    display: block;
    min-height: 50px;
    text-align: center; }
  #movies div img {
    height: 400px;
    width: 250px;
    border-radius: 5px;
    justify-self: center;
    transition: 0.4s; }
    #movies div img:hover {
      box-shadow: 0 0 10px #db393c, 0 0 15px #DF181B, 0 0 25px #DF181B, 0 0 45px rgba(223, 24, 27, 0.877), 0 0 85px rgba(223, 24, 27, 0.733), 0 0 95px rgba(223, 24, 27, 0.568), 0 0 105px rgba(223, 24, 27, 0.356), 0 0 155px rgba(223, 24, 27, 0.178); }
  #movies div {
    width: 24%;
    margin: 0.5% 0;
    margin-bottom: 40px;
    border-radius: 5px;
    /* 		&:hover {
			box-shadow: 1px 0px 20px -5px rgba(255, 255, 255, 0.527);
		
		} */ }

.each-movie {
  display: flex;
  flex-direction: column;
  align-items: center; }

.films-categories {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly; }
  .films-categories div {
    text-align: center;
    margin-bottom: 20px; }
  .films-categories #hor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; }
    .films-categories #hor div a img {
      height: 400px;
      width: 500px;
      border-radius: 5px;
      justify-self: center;
      transition: 0.4s; }
      .films-categories #hor div a img:hover {
        box-shadow: 0 0 10px #db393c, 0 0 15px #DF181B, 0 0 25px #DF181B, 0 0 45px rgba(223, 24, 27, 0.877), 0 0 85px rgba(223, 24, 27, 0.733), 0 0 95px rgba(223, 24, 27, 0.568), 0 0 105px rgba(223, 24, 27, 0.356), 0 0 155px rgba(223, 24, 27, 0.178); }
  .films-categories #vert {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; }
    .films-categories #vert div a img {
      height: 450px;
      width: 300px;
      border-radius: 5px;
      justify-self: center;
      transition: 0.4s; }
      .films-categories #vert div a img:hover {
        box-shadow: 0 0 10px #db393c, 0 0 15px #DF181B, 0 0 25px #DF181B, 0 0 45px rgba(223, 24, 27, 0.877), 0 0 85px rgba(223, 24, 27, 0.733), 0 0 95px rgba(223, 24, 27, 0.568), 0 0 105px rgba(223, 24, 27, 0.356), 0 0 155px rgba(223, 24, 27, 0.178); }

.div-bg h1 {
  text-align: center; }

.movie-container {
  display: flex;
  justify-content: space-evenly; }
  .movie-container .movie-det {
    display: flex;
    flex-direction: column;
    justify-content: center; }

.favlist-view {
  display: flex;
  flex-wrap: wrap; }
  .favlist-view div {
    width: 24%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .favlist-view div img {
      margin-bottom: 15px; }
    .favlist-view div button {
      width: 85%; }

#search {
  background-color: #DF181B;
  border: none;
  padding: 10px 30px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: 0.4s; }
  #search:hover {
    background-color: #e44f51;
    font-size: larger; }

#title {
  padding: 10px 80px;
  border-radius: 10px;
  border: none;
  outline: none; }
  #title :focus {
    border: 1px solid;
    border-color: #DF181B; }

/*# sourceMappingURL=style.css.map */