// dark-puce (oscuro): #433A3F
// deep space sparkle (azul oscuro): #3D5A6C
// maximum green yellow (pistacho): #CBEF43


body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
