// thanks to Matt Smith for the neon effect idea. https://codepen.io/AllThingsSmitty/pen/VzXrgY

* {
	font-family: 'Lacquer', sans-serif;
	font-family: 'Roboto', sans-serif;
	color: white;
	font-weight: bolder;


}

body {
	padding-top: 150px;
	padding-left: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  // Needs latest Compass, add '@import "compass"' to your scss
// Permalink - use to edit and share this gradient:
// https://colorzilla.com/gradient-editor/#a90329+0,8f0222+44,6d0019+100;Brown+Red+3D

	background-color:black;
	background-image: url(../images/cine.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

//////////////// LOGIN SIGNUP //////////////////////

.form-container{
	width:450px;
	padding:55px;
	margin: 10px 450px;
	background: rgba(255, 255, 255, 0.404);
	border-radius: 10px;


	display: flex;
	flex-direction: column;
	align-items: center;

	& input {
		padding: 5px 60px;
		border-radius: 10px;
		border:none;
    color: black;
		outline: none;

		& :focus {

			border: 1px solid ;
			border-color: #DF181B;
		}

	

		

		
	}

}

//////////////////////// OTHER BUTTONS ////////////////////////////////


.btn-class {

	background-color: #DF181B;
	border: none;
	padding: 10px 30px;
	border-radius: 5px;

	outline: none;
	cursor: pointer;
	transition: 0.4s;

	&:hover {

		background-color: rgb(228, 79, 81);
		font-size: larger;
	}
}

#button {
	background-color: #DF181B;
	border: none;
	padding: 10px 30px;
	
	border-radius: 5px;

	outline: none;
	cursor: pointer;
	transition: 0.4s;

	&:hover {

		background-color: rgb(228, 79, 81);
		font-size: larger;
	}
}

.btn-delete {
	background-color: #DF181B;
	border: none;
	padding: 10px 30px;
	border-radius: 5px;

	transition: 0.4s;
	cursor: pointer;
	outline: none;

	&:hover {

		background-color: rgb(228, 79, 81);
		font-size: larger;
	}
}



//////////////////// INDEX VIEW //////////////////////////////////

.index-view {

	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 215px;

	line-height: 15px;
	



}

///////////////////// LAYOUT ////////////////////////////////////////

#nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-evenly;

	position: fixed;
	width: 100vw;
	height: 6.5rem;
	top: 0;
  left: 0;

	background-color: rgba(29, 9, 9, 0.096);
	box-shadow: 4px 0px 46px -9px rgba(255, 255, 255, 0.527);

	font-size: 20px;

	#lay-logo {
		padding: 8px 30px;
	}
	

	a {
		color: white;
		font-weight: bolder;
	}

	& img {
		margin-left: -60px;

		width: 280px;
		height: 80px;

		border-radius: 10px;
		// box-shadow: 10px 10px 0px 0px rgba(255, 255, 255, 0.527);

		transition: 0.3s;

		&:hover {
			// box-shadow: 4px 0px 46px -4px rgba(255, 255, 255, 0.527);
			cursor: pointer;
		}
	}

	& .nav-btns {
		text-decoration: none;



		transition: 0.4s;
		
		padding: 5px 15px;
		background-color: none;
		& p {

			transition: 0.4s;

			&:hover {
				
				font-size: 25px;

				transition: 0.4s;
				color: #fff;
				text-shadow:
					0 0 10px rgb(219, 57, 60),
					0 0 15px #DF181B,
					0 0 25px #DF181B,
					0 0 45px rgba(223, 24, 27, 0.877),
					0 0 85px rgba(223, 24, 27, 0.733),
					0 0 95px rgba(223, 24, 27, 0.568),
					0 0 105px rgba(223, 24, 27, 0.356),
					0 0 155px rgba(223, 24, 27, 0.178);

					
				
			}
		}


		&.logout {
			color: rgba(165, 162, 162, 0.849);
		}
	}
	
}



////////////////////////////////////// MOVIES /////////////////////////////////////////


#movies-bg {

}

#movies {

	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-evenly;

	
	& h2 {

		text-transform: uppercase;
		color: white;
		display: block;
		min-height: 50px;
		text-align: center;
	}

	& div img{
		height: 400px;
		width: 250px;

		border-radius: 5px;
		justify-self: center;
		
		

		transition: 0.4s;

		&:hover {
			box-shadow:
			0 0 10px rgb(219, 57, 60),
			0 0 15px #DF181B,
			0 0 25px #DF181B,
			0 0 45px rgba(223, 24, 27, 0.877),
			0 0 85px rgba(223, 24, 27, 0.733),
			0 0 95px rgba(223, 24, 27, 0.568),
			0 0 105px rgba(223, 24, 27, 0.356),
			0 0 155px rgba(223, 24, 27, 0.178);
		}
	}

	& div {

		width: 24%;
		margin:0.5% 0;
		margin-bottom: 40px;

		border-radius: 5px;
		// box-shadow: 1px 0px 17px -10px rgba(255, 255, 255, 0.527);

		


		// transition: 0.3s;

/* 		&:hover {
			box-shadow: 1px 0px 20px -5px rgba(255, 255, 255, 0.527);
		
		} */
	}
	
}

.each-movie {
	display: flex;
	flex-direction: column;
	align-items: center;
}

//////////////////////////////////// CATEGORIES ////////////////////////////////////////////

.films-categories {

	display: flex;
	align-items: center;
	flex-direction:column;
	justify-content: space-evenly;

	& div {
		text-align: center;
		margin-bottom: 20px;

	}

	#hor {

		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;


		& div a img {

			height: 400px;
			width: 500px;
	
			border-radius: 5px;
			justify-self: center;

			transition: 0.4s;
			&:hover {
				box-shadow:
				0 0 10px rgb(219, 57, 60),
				0 0 15px #DF181B,
				0 0 25px #DF181B,
				0 0 45px rgba(223, 24, 27, 0.877),
				0 0 85px rgba(223, 24, 27, 0.733),
				0 0 95px rgba(223, 24, 27, 0.568),
				0 0 105px rgba(223, 24, 27, 0.356),
				0 0 155px rgba(223, 24, 27, 0.178);
			}


		}


	}


	#vert {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;

		& div a img {
			height: 450px;
			width: 300px;

			border-radius: 5px;
			justify-self: center;

			transition: 0.4s;

			&:hover {
				box-shadow:
				0 0 10px rgb(219, 57, 60),
				0 0 15px #DF181B,
				0 0 25px #DF181B,
				0 0 45px rgba(223, 24, 27, 0.877),
				0 0 85px rgba(223, 24, 27, 0.733),
				0 0 95px rgba(223, 24, 27, 0.568),
				0 0 105px rgba(223, 24, 27, 0.356),
				0 0 155px rgba(223, 24, 27, 0.178);
			}

		}
	}
	
}

/////////////////////////// MOVIES & CATEGORIES BG /////////////////////////

.div-bg {

	& h1 {
		text-align: center;
	}

}

/////////// MOVIE-DETAILS ////////////////////////////

.movie-container {

	display: flex;
	justify-content: space-evenly;
	

	& .movie-det {

		display: flex;
		flex-direction: column;
		justify-content: center;

	}
}

//////////////////////////// PROFILE /////////////////////////////////////


.favlist-view {
	display: flex;
	flex-wrap: wrap;

	& div {
		width: 24%;
		display: flex;
		flex-direction: column;
		align-items: center;

		& img {
			margin-bottom: 15px;
		}

		& button {
			width: 85%;
		}
		
	}
}

#search{

	background-color: #DF181B;
	border: none;
	padding: 10px 30px;
	border-radius: 5px;
	outline: none;
	cursor: pointer;
	transition: 0.4s;
	&:hover {
		background-color: rgb(228, 79, 81);
		font-size: larger;
	}
}

#title{

	padding: 10px 80px;
		border-radius: 10px;
		border:none;
		outline: none;
		& :focus {
			border: 1px solid ;
			border-color: #DF181B;
		}
}